torch
torchvision
opencv-python-headless  # For image processing
pandas                  # For handling data/results
scikit-image            # Advanced image processing
scikit-learn            # For metrics like confusion matrix
pyyaml                  # To read the config.yaml file
matplotlib              # For plotting/viewing images in notebooks
